<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

<head>
	<meta charset="utf-8">
	<link rel="shortcut icon" th:href="@{/img/LogoRefugioDelSisga.png}" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Nomina Diaria</title>

	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
		integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">

	<link rel="stylesheet" type="text/css" th:href="@{/css/MateriaPrima/style-RegistroSemanal.css}">
	<link rel="stylesheet" type="text/css" th:href="@{/css/MateriaPrima/style-Table.css}">
	<link rel="stylesheet" type="text/css" th:href="@{/css/Cotizaciones/style-Modal.css}">
	<link rel="stylesheet" type="text/css" th:href="@{/css/Nomina/style-AlertHoraExtra.css}">

	<link rel="stylesheet" type="text/css" th:href="@{/css/Genericos/style-SectionContainer.css}">
	<link rel="stylesheet" type="text/css" th:href="@{/css/Genericos/style-Wrapper.css}">
	<link rel="stylesheet" type="text/css" th:href="@{/css/Genericos/style-MigaPan.css}">
	<link rel="stylesheet" type="text/css" th:href="@{/css/Genericos/style-footer.css}">
</head>

<body>
	<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
		<div class="container-fluid">
			<a class="navbar-brand">Registros Guardados
				<svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" style="margin-top: -7px;"
					fill="currentColor" class="bi bi-currency-dollar" viewBox="0 0 16 16">
					<path
						d="M4 10.781c.148 1.667 1.513 2.85 3.591 3.003V15h1.043v-1.216c2.27-.179 3.678-1.438 3.678-3.3 0-1.59-.947-2.51-2.956-3.028l-.722-.187V3.467c1.122.11 1.879.714 2.07 1.616h1.47c-.166-1.6-1.54-2.748-3.54-2.875V1H7.591v1.233c-1.939.23-3.27 1.472-3.27 3.156 0 1.454.966 2.483 2.661 2.917l.61.162v4.031c-1.149-.17-1.94-.8-2.131-1.718zm3.391-3.836c-1.043-.263-1.6-.825-1.6-1.616 0-.944.704-1.641 1.8-1.828v3.495l-.2-.05zm1.591 1.872c1.287.323 1.852.859 1.852 1.769 0 1.097-.826 1.828-2.2 1.939V8.73z" />
				</svg>
			</a>
			<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
				aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarNav">
				<ul class="navbar-nav me-auto mb-2 mb-lg-0">
					<div class="nav-item mr-2">
						<li>
							<a class="nav-link btn btn-outline-light" th:href="@{/MenuMateriaPrima}">Menú
								Anterior
								<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" style="margin-top: -3px;"
									fill="currentColor" class="bi bi-box-arrow-in-left" viewBox="0 0 16 16">
									<path fill-rule="evenodd"
										d="M10 3.5a.5.5 0 0 0-.5-.5h-8a.5.5 0 0 0-.5.5v9a.5.5 0 0 0 .5.5h8a.5.5 0 0 0 .5-.5v-2a.5.5 0 0 1 1 0v2A1.5 1.5 0 0 1 9.5 14h-8A1.5 1.5 0 0 1 0 12.5v-9A1.5 1.5 0 0 1 1.5 2h8A1.5 1.5 0 0 1 11 3.5v2a.5.5 0 0 1-1 0z" />
									<path fill-rule="evenodd"
										d="M4.146 8.354a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5H14.5a.5.5 0 0 1 0 1H5.707l2.147 2.146a.5.5 0 0 1-.708.708z" />
								</svg>
							</a>
						</li>
					</div>
					<div class="nav-item mr-2">
						<li>
							<a class="nav-link btn btn-outline-light" th:href="@{/RegistroSemanal}">Nuevo Registro
								<svg xmlns="http://www.w3.org/2000/svg" width="15" height="15" style="margin-top: -3px;"
									fill="currentColor" class="bi bi-file-earmark-plus-fill" viewBox="0 0 16 16">
									<path
										d="M9.293 0H4a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2V4.707A1 1 0 0 0 13.707 4L10 .293A1 1 0 0 0 9.293 0zM9.5 3.5v-2l3 3h-2a1 1 0 0 1-1-1zM8.5 7v1.5H10a.5.5 0 0 1 0 1H8.5V11a.5.5 0 0 1-1 0V9.5H6a.5.5 0 0 1 0-1h1.5V7a.5.5 0 0 1 1 0z" />
								</svg>
							</a>
						</li>
					</div>
					<div class="nav-item">
						<li>
							<a class="nav-link btn btn-outline-light"
								th:href="@{/EditarRegistrosSemanalesGuardados}">Editar Registros
								<svg xmlns="http://www.w3.org/2000/svg" width="15" height="15" style="margin-top: -3px;"
									fill="currentColor" class="bi bi-tools" viewBox="0 0 16 16">
									<path
										d="M1 0 0 1l2.2 3.081a1 1 0 0 0 .815.419h.07a1 1 0 0 1 .708.293l2.675 2.675-2.617 2.654A3.003 3.003 0 0 0 0 13a3 3 0 1 0 5.878-.851l2.654-2.617.968.968-.305.914a1 1 0 0 0 .242 1.023l3.27 3.27a.997.997 0 0 0 1.414 0l1.586-1.586a.997.997 0 0 0 0-1.414l-3.27-3.27a1 1 0 0 0-1.023-.242L10.5 9.5l-.96-.96 2.68-2.643A3.005 3.005 0 0 0 16 3c0-.269-.035-.53-.102-.777l-2.14 2.141L12 4l-.364-1.757L13.777.102a3 3 0 0 0-3.675 3.68L7.462 6.46 4.793 3.793a1 1 0 0 1-.293-.707v-.071a1 1 0 0 0-.419-.814L1 0Zm9.646 10.646a.5.5 0 0 1 .708 0l2.914 2.915a.5.5 0 0 1-.707.707l-2.915-2.914a.5.5 0 0 1 0-.708ZM3 11l.471.242.529.026.287.445.445.287.026.529L5 13l-.242.471-.026.529-.445.287-.287.445-.529.026L3 15l-.471-.242L2 14.732l-.287-.445L1.268 14l-.026-.529L1 13l.242-.471.026-.529.445-.287.287-.445.529-.026L3 11Z" />
								</svg>
							</a>
						</li>
					</div>
				</ul>
				<div class="ml-auto">
					<ul class="navbar-nav me-auto mb-2 mb-lg-0">
						<li>
							<a class="nav-link btn btn-outline-light" th:href="@{/#}">Ayuda
								<svg xmlns="http://www.w3.org/2000/svg" width="15" height="15" style="margin-top: -3px;"
									fill="currentColor" class="bi bi-info-circle-fill" viewBox="0 0 16 16">
									<path
										d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16m.93-9.412-1 4.705c-.07.34.029.533.304.533.194 0 .487-.07.686-.246l-.088.416c-.287.346-.92.598-1.465.598-.703 0-1.002-.422-.808-1.319l.738-3.468c.064-.293.006-.399-.287-.47l-.451-.081.082-.381 2.29-.287zM8 5.5a1 1 0 1 1 0-2 1 1 0 0 1 0 2" />
								</svg>
							</a>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</nav>

	<div class="container">
		<nav class="navbar navbar-expand-lg navbar-light bg-light" style="height: 10%; align-items: center;">
			<div class="migaPan navbar navbar-dark bg-primary row" style="height: 10%; align-items: center;">
				<nav style="height: 1.8em;--bs-breadcrumb-divider: url(&#34;data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8'%3E%3Cpath d='M2.5 0L1 1.5 3.5 4 1 6.5 2.5 8l4-4-4-4z' fill='currentColor'/%3E%3C/svg%3E&#34;);"
					aria-label="breadcrumb">
					<ol class="breadcrumb" style="height: -10%; margin-top: 0%;">
						<li class="breadcrumb-item"><a th:href="@{/Servicios}" class="btn btn-secondary"
								style="font-size: 10px; padding: 2;">Servicios</a></li>
						<li class="breadcrumb-item"><a th:href="@{/MenuMateriaPrima}" class="btn btn-secondary"
								style="font-size: 10px; padding: 2;">Materias Primas</a></li>
						<li class="breadcrumb-item"><a th:href="@{/RegistrosSemanalesGuardados}" class="btn btn-secondary"
								style="font-size: 10px; padding: 2;">Registros Guardados</a></li>
					</ol>
				</nav>
			</div>
		</nav>

		<div class="section-container">
			<div class="wrapper">
				<div id="modal-confirmacion" class="modal">
					<div class="modal-content">
						<span class="close" id="btn-close">&times;</span>
						<p>¿Está seguro de almacenar los datos registrados?.</p>
						<button id="btn-aceptar">Aceptar</button>
						<button id="btn-cancelar">Cancelar</button>
					</div>
				</div>

				<div th:if="${param.exito}" onchange="validateExito(this)">
					<div id="exito" class="alert-exito">
						<p>
							<svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor"
								class="bi bi-check-circle-fill" viewBox="0 0 16 16">
								<path
									d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z" />
							</svg>
							Registro de Nomina Diaría <br>guardado con Éxito!.<br>
						</p>
					</div>
				</div>

				<div th:if="${param.error}" onchange="validateExito(this)">
					<div id="exito" class="alert-error">
						<p>
							<svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor"
								class="bi bi-check-circle-fill" viewBox="0 0 16 16">
								<path
									d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z" />
							</svg>
							Error, no hay registro de datos<br> para guardar!.<br>
						</p>
					</div>
				</div>

				<div th:if="${param.errorFecha}" onchange="validateExito(this)">
					<div id="exito" class="alert-error">
						<p>
							<svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor"
								class="bi bi-check-circle-fill" viewBox="0 0 16 16">
								<path
									d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z" />
							</svg>
							Error, no se ha ingresado ninguna <br>fecha para guardar los datos!.<br>
						</p>
					</div>
				</div>

				<div class="wrapper-responsive">
					<div class="table" style="width: 100%;">
						<div class="row">
							<div class="arrow-container">
								<div class="input-group" style="width: 100%;">
									<div class="input-group" style="width: 100%; margin-right: 50px;">
										<span class="input-group-text" style="font-size: 12px;">Filtar Por Semana</span>
										<input class="form-control" id="fecha" type="week" onchange="mostrarSemana()"
											style="cursor: pointer;" required>
										<button class="btn btn-primary" onclick="filtrarPorSemana()">Filtrar</button>
									</div>
								</div>

							</div>
							<div class="col-md-6" style="width: 100%;">
								<span class="input-group-text" style="font-size: 15px;">
									Informe De Productos Semana:
									<span id="semanaSeleccionada" class="badge bg-secondary"
										style="margin-left: 5px;"></span>
								</span>
								<table class="table table-striped" id="tabla1">
									<thead class="thead-dark">
										<tr>
											<th scope="col">N°</th>
											<th scope="col">Item</th>
											<th scope="col">Unidad</th>
											<th scope="col">Disponible</th>
											<th scope="col">Producido</th>
											<th scope="col">Stock Actual</th>
											<th scope="col">Venta Total</th>
										</tr>
									</thead>
									<tbody id="mainTableBody">
									</tbody>
								</table>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.18.4/xlsx.full.min.js"></script>
	<script th:src="@{/js/MateriaPrima/js-JsRegistrosSemanalesGuardados.js}"></script>
</body>
<footer>
	© SIRPYM V1.0.1. 2024
</footer>


</html>