<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

<head>
	<meta charset="utf-8">
	<link rel="shortcut icon" th:href="@{/img/LogoRefugioDelSisga.png}" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Servicios</title>

	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
		integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">

	<link rel="stylesheet" type="text/css" th:href="@{/css/Genericos/style-MenuPrincipal.css}">
	<link rel="stylesheet" type="text/css" th:href="@{/css/Genericos/style-footer.css}">
	<link rel="stylesheet" type="text/css" th:href="@{/css/Genericos/style-MigaPan.css}">
	<link rel="stylesheet" type="text/css" th:href="@{/css/Genericos/style-Nav.css}">

</head>

<body>
	<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
		<div class="container-fluid">
			<a class="navbar-brand">
				Servicios
				<svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" style="margin-top: -7px;"
					fill="currentColor" class="bi bi-house-fill" viewBox="0 0 16 16">
					<path
						d="M8.707 1.5a1 1 0 0 0-1.414 0L.646 8.146a.5.5 0 0 0 .708.708L8 2.207l6.646 6.647a.5.5 0 0 0 .708-.708L13 5.793V2.5a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5v1.293L8.707 1.5Z" />
					<path d="m8 3.293 6 6V13.5a1.5 1.5 0 0 1-1.5 1.5h-9A1.5 1.5 0 0 1 2 13.5V9.293l6-6Z" />
				</svg>
			</a>
			<div class="ml-auto">
				<ul class="navbar-nav me-auto mb-2 mb-lg-0">
					<li>
						<a class="nav-link btn btn-outline-light" th:href="@{/#}">Ayuda
							<svg xmlns="http://www.w3.org/2000/svg" width="15" height="15" style="margin-top: -3px;"
								fill="currentColor" class="bi bi-info-circle-fill" viewBox="0 0 16 16">
								<path
									d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16m.93-9.412-1 4.705c-.07.34.029.533.304.533.194 0 .487-.07.686-.246l-.088.416c-.287.346-.92.598-1.465.598-.703 0-1.002-.422-.808-1.319l.738-3.468c.064-.293.006-.399-.287-.47l-.451-.081.082-.381 2.29-.287zM8 5.5a1 1 0 1 1 0-2 1 1 0 0 1 0 2" />
							</svg>
						</a>
					</li>
				</ul>
			</div>
		</div>
	</nav>

	<div class="container">
		<nav class="navbar navbar-expand-lg navbar-light bg-light">
			<div class="migaPan navbar-dark bg-dark ms-auto">
				<a th:href="@{/Servicios}">Servicios</a>
			</div>
		</nav>
	</div>

	<div class="section-container">
		<a class="opcionUno" th:href="@{/Nomina}">
			<svg xmlns="http://www.w3.org/2000/svg" width="100" height="100" fill="currentColor"
				class="bi bi-person-vcard-fill" viewBox="0 0 16 16">
				<path
					d="M0 4a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2zm9 1.5a.5.5 0 0 0 .5.5h4a.5.5 0 0 0 0-1h-4a.5.5 0 0 0-.5.5M9 8a.5.5 0 0 0 .5.5h4a.5.5 0 0 0 0-1h-4A.5.5 0 0 0 9 8m1 2.5a.5.5 0 0 0 .5.5h3a.5.5 0 0 0 0-1h-3a.5.5 0 0 0-.5.5m-1 2C9 10.567 7.21 9 5 9c-2.086 0-3.8 1.398-3.984 3.181A1 1 0 0 0 2 13h6.96q.04-.245.04-.5M7 6a2 2 0 1 0-4 0 2 2 0 0 0 4 0" />
			</svg>
			<br><br>
			<span>
				Gestión de
				<br>
				Nomina
			</span>
		</a>

		<a class="opcionDos" th:href="@{/Cotizaciones}">
			<svg xmlns="http://www.w3.org/2000/svg" width="100" height="100" fill="currentColor"
				class="bi bi-file-text-fill" viewBox="0 0 16 16">
				<path
					d="M12 0H4a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2M5 4h6a.5.5 0 0 1 0 1H5a.5.5 0 0 1 0-1m-.5 2.5A.5.5 0 0 1 5 6h6a.5.5 0 0 1 0 1H5a.5.5 0 0 1-.5-.5M5 8h6a.5.5 0 0 1 0 1H5a.5.5 0 0 1 0-1m0 2h3a.5.5 0 0 1 0 1H5a.5.5 0 0 1 0-1" />
			</svg>
			<br><br>
			<span>
				Gestión de
				<br>
				Cotizaciones
			</span>
		</a>

		<a class="opcionTres" th:href="@{/MenuMateriaPrima}">
			<svg xmlns="http://www.w3.org/2000/svg" width="100" height="100" fill="currentColor"
				class="bi bi-file-ruled-fill" viewBox="0 0 16 16">
				<path
					d="M12 0H4a2 2 0 0 0-2 2v4h12V2a2 2 0 0 0-2-2m2 7H6v2h8zm0 3H6v2h8zm0 3H6v3h6a2 2 0 0 0 2-2zm-9 3v-3H2v1a2 2 0 0 0 2 2zm-3-4h3v-2H2zm0-3h3V7H2z" />
			</svg>
			<br><br>
			<span>
				Gestión de
				<br>
				Materia Prima
			</span>
		</a>

	</div>
</body>

<footer>
	© SIRPYM V1.0.1. 2024
</footer>

</html>