<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

<head>
	<meta charset="utf-8">
	<link rel="shortcut icon" th:href="@{/img/LogoRefugioDelSisga.png}" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Registro de Colaboradores</title>

	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/flatpickr/4.6.3/flatpickr.min.css">
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
		integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">

	<link rel="stylesheet" type="text/css" th:href="@{/css/Nomina/style-BotonesCanlendario.css}">

	<link rel="stylesheet" type="text/css" th:href="@{/css/Cotizaciones/style-Modal.css}">
	<link rel="stylesheet" type="text/css" th:href="@{/css/Cotizaciones/style-Registros.css}">

	<link rel="stylesheet" type="text/css" th:href="@{/css/Cotizaciones/style-Alert.css}">
	<link rel="stylesheet" type="text/css" th:href="@{/css/Genericos/style-SectionContainer.css}">
	<link rel="stylesheet" type="text/css" th:href="@{/css/Genericos/style-Wrapper.css}">
	<link rel="stylesheet" type="text/css" th:href="@{/css/Genericos/style-MigaPan.css}">
	<link rel="stylesheet" type="text/css" th:href="@{/css/Genericos/style-footer.css}">

	<!-- Incluye la biblioteca jQuery -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<!-- Incluye la biblioteca jQuery UI -->
	<link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
	<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

</head>

<body>
	<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
		<div class="container-fluid">
			<a class="navbar-brand">
				Registro de Colaboradores
				<svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" style="margin-top: -7px;" fill="currentColor"
					class="bi bi-person-fill-add" viewBox="0 0 16 16">
					<path
						d="M12.5 16a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7m.5-5v1h1a.5.5 0 0 1 0 1h-1v1a.5.5 0 0 1-1 0v-1h-1a.5.5 0 0 1 0-1h1v-1a.5.5 0 0 1 1 0m-2-6a3 3 0 1 1-6 0 3 3 0 0 1 6 0" />
					<path
						d="M2 13c0 1 1 1 1 1h5.256A4.5 4.5 0 0 1 8 12.5a4.5 4.5 0 0 1 1.544-3.393Q8.844 9.002 8 9c-5 0-6 3-6 4" />
				</svg>
			</a>
			<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
				aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarNav">
				<ul class="navbar-nav me-auto mb-2 mb-lg-0">
					<div class="nav-item mr-2">
						<li>
							<a class="nav-link btn btn-outline-light" th:href="@{/Nomina}" title="Menú Anterior">Menú
								Anterior
								<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" style="margin-top: -3px;" fill="currentColor"
									class="bi bi-box-arrow-in-left" viewBox="0 0 16 16">
									<path fill-rule="evenodd"
										d="M10 3.5a.5.5 0 0 0-.5-.5h-8a.5.5 0 0 0-.5.5v9a.5.5 0 0 0 .5.5h8a.5.5 0 0 0 .5-.5v-2a.5.5 0 0 1 1 0v2A1.5 1.5 0 0 1 9.5 14h-8A1.5 1.5 0 0 1 0 12.5v-9A1.5 1.5 0 0 1 1.5 2h8A1.5 1.5 0 0 1 11 3.5v2a.5.5 0 0 1-1 0z" />
									<path fill-rule="evenodd"
										d="M4.146 8.354a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5H14.5a.5.5 0 0 1 0 1H5.707l2.147 2.146a.5.5 0 0 1-.708.708z" />
								</svg>
							</a>
						</li>
					</div>
					<div class="nav-item mr-2">
						<li>
							<a class="nav-link btn btn-outline-light" th:href="@{/ColaboradoresRegistrados}"
								title="Clientes Registrados">Colaboradores Registrados
								<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" style="margin-top: -3px;" fill="currentColor"
									class="bi bi-person-lines-fill" viewBox="0 0 16 16">
									<path
										d="M6 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6m-5 6s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1zM11 3.5a.5.5 0 0 1 .5-.5h4a.5.5 0 0 1 0 1h-4a.5.5 0 0 1-.5-.5m.5 2.5a.5.5 0 0 0 0 1h4a.5.5 0 0 0 0-1zm2 3a.5.5 0 0 0 0 1h2a.5.5 0 0 0 0-1zm0 3a.5.5 0 0 0 0 1h2a.5.5 0 0 0 0-1z" />
								</svg>
							</a>
						</li>
					</div>
					<div class="nav-item">
						<li>
							<a class="nav-link btn btn-outline-light" th:href="@{/ConfiguracionDeColaboradores}"
								title="Configuración de Clientes">Configurar Colaboradores
								<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" style="margin-top: -3px;" fill="currentColor"
									class="bi bi-person-fill-gear" viewBox="0 0 16 16">
									<path
										d="M11 5a3 3 0 1 1-6 0 3 3 0 0 1 6 0m-9 8c0 1 1 1 1 1h5.256A4.5 4.5 0 0 1 8 12.5a4.5 4.5 0 0 1 1.544-3.393Q8.844 9.002 8 9c-5 0-6 3-6 4m9.886-3.54c.18-.613 1.048-.613 1.229 0l.043.148a.64.64 0 0 0 .921.382l.136-.074c.561-.306 1.175.308.87.869l-.075.136a.64.64 0 0 0 .382.92l.149.045c.612.18.612 1.048 0 1.229l-.15.043a.64.64 0 0 0-.38.921l.074.136c.305.561-.309 1.175-.87.87l-.136-.075a.64.64 0 0 0-.92.382l-.045.149c-.18.612-1.048.612-1.229 0l-.043-.15a.64.64 0 0 0-.921-.38l-.136.074c-.561.305-1.175-.309-.87-.87l.075-.136a.64.64 0 0 0-.382-.92l-.148-.045c-.613-.18-.613-1.048 0-1.229l.148-.043a.64.64 0 0 0 .382-.921l-.074-.136c-.306-.561.308-1.175.869-.87l.136.075a.64.64 0 0 0 .92-.382zM14 12.5a1.5 1.5 0 1 0-3 0 1.5 1.5 0 0 0 3 0" />
								</svg>
							</a>
						</li>
					</div>
				</ul>
				<div class="ml-auto">
					<ul class="navbar-nav me-auto mb-2 mb-lg-0">
						<li>
							<a class="nav-link btn btn-outline-light" th:href="@{/#}" title="Ayuda">Ayuda
								<svg xmlns="http://www.w3.org/2000/svg" width="15" height="15" style="margin-top: -3px;"
									fill="currentColor" class="bi bi-info-circle-fill" viewBox="0 0 16 16">
									<path
										d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16m.93-9.412-1 4.705c-.07.34.029.533.304.533.194 0 .487-.07.686-.246l-.088.416c-.287.346-.92.598-1.465.598-.703 0-1.002-.422-.808-1.319l.738-3.468c.064-.293.006-.399-.287-.47l-.451-.081.082-.381 2.29-.287zM8 5.5a1 1 0 1 1 0-2 1 1 0 0 1 0 2" />
								</svg>
							</a>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</nav>

	<div class="container">
		<nav class="navbar navbar-expand-lg navbar-light bg-light" style="height: 10%; align-items: center;">
			<div class="migaPan navbar navbar-dark bg-primary row" style="height: 10%; align-items: center;">
				<nav style="height: 1.8em;--bs-breadcrumb-divider: url(&#34;data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8'%3E%3Cpath d='M2.5 0L1 1.5 3.5 4 1 6.5 2.5 8l4-4-4-4z' fill='currentColor'/%3E%3C/svg%3E&#34;);"
					aria-label="breadcrumb">
					<ol class="breadcrumb" style="height: -10%; margin-top: 0%;">
						<li class="breadcrumb-item"><a th:href="@{/Servicios}" class="btn btn-secondary"
								style="font-size: 10px; padding: 2;">Servicios</a></li>
						<li class="breadcrumb-item"><a th:href="@{/Nomina}" class="btn btn-secondary"
								style="font-size: 10px; padding: 2;">Nomina</a></li>
						<li class="breadcrumb-item"><a th:href="@{/RegistroDeColaboradores}" class="btn btn-secondary"
								style="font-size: 10px; padding: 2;">Registrar Colaborador</a></li>
					</ol>
				</nav>
			</div>
		</nav>

		<div class="section-container">
			<div class="wrapper">
				<div class="col-md-6 col-md-offset-3">
					<div th:if="${param.exito}" onchange="validateExito(this)">
						<div id="exito" class="alert-exito">
							<p>
								<svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor"
									class="bi bi-check-circle-fill" viewBox="0 0 16 16">
									<path
										d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z" />
								</svg>
								Colaborador Registrado con Éxito!.<br><br>Ya puede gestionar nomina <br>
								con este colaborador.
							</p>
						</div>
					</div>

					<div id="modal-confirmacion" class="modal">
						<div class="modal-content">
							<span class="close" id="btn-close">&times;</span>
							<p>¿Está seguro de almacenar los datos registrados?.</p>
							<button id="btn-aceptar">Aceptar</button>
							<button id="btn-cancelar">Cancelar</button>
						</div>
					</div>

					<div th:if=${ColaboradorExistente}>
						<div id="exito" class="alert-error">
							<p><svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor"
									class="bi bi-x-square-fill" viewBox="0 0 16 16"> +
									<path
										d="M2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2zm3.354 4.646L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 1 1 .708-.708z" />
								</svg>

								Numero de documento del Colaborador Invalido.<br><br>Ya hay un colaborador registrado en
								la <br> base
								de datos con
								ese documento.
								<br><br>Por favor valide en la opción de <br>configuación
							</p>
						</div>
					</div>

				</div>

				<span class="input-group-text">Datos del Colaborador:</span>

				</br>

				<form th:action="@{/RegistroDeColaboradores}" method="post" th:object="${Colaborador}"
					onsubmit="return mostrarModalConfirmacion()">
					<div class="row d-flex justify-content-center">
						<div class="col-md-6">
							<div class="mb-3">
								<label for="first-name" class="label-wrapper">Nombre Completo:</label>
								<input id="nombreCompleto" type="text" name="nombreCompleto" class="form-control"
									autocomplete="off" th:field="*{nombreCompleto}" required autofocus="autofocus"
									onchange="validateNombre(this)" onblur="capitalizeEachWord(this)">
							</div>
						</div>
						<div class="col-md-6">
							<div class="mb-3">
								<label for="first-name" class="label-wrapper">Tipo de Identificación:</label>
								<select id="tipoDeDocumento" name="tipoDeDocumento" class="form-control form-select"
									style="cursor: pointer;" th:field="*{tipoDeDocumento}" required autofocus>
									<option class="label-text" value="">Selecione una opción</option>
									<option th:each="tipo : ${tiposID}" th:value="${tipo}" th:text="${tipo.nombre}">
									</option>
								</select>

							</div>
						</div>
						<div class="col-md-6">
							<div class="mb-3">
								<label for="first-name" class="form-wrapper">Número de Documento:</label>
								<input id="numeroDeDocumento" type="text" name="numeroDeDocumento" class="form-control"
									autocomplete="off" th:field="*{numeroDeDocumento}" required autofocus="autofocus"
									onchange="validateNumID(this)">
							</div>
						</div>
						<div class="col-md-6">
							<div class="mb-3">
								<label for="first-name" class="label-wrapper">Tipo de Contrato:</label>
								<select id="tipoDeContrato" name="tipoDeContrato" class="form-control form-select"
									style="cursor: pointer;" th:field="*{tipoDeContrato}" required autofocus>
									<option class="label-text" value="">Selecione una opción</option>
									<option th:each="tipo : ${tiposContratos}" th:value="${tipo.tipoDeContrato}"
										th:text="${tipo.tipoDeContrato}">
									</option>
								</select>
							</div>
						</div>
						<div class="col-md-6">
							<div class="mb-3">
								<label for="first-name" class="form-wrapper">Fecha de Ingreso:</label>
								<input type="date" id="fechaSeleccionada" name="fechaDeIngreso"
									th:field="*{fechaDeIngreso}" class="form-control">
							</div>
						</div>
						<div class="col-md-6">
							<div class="mb-3">
								<label for="first-name" class="label-wrapper">Tipo de Cargo:</label>
								<select id="tipoDeCargo" name="tipoDeCargo" class="form-control form-select"
									style="cursor: pointer;" th:field="*{tipoDeCargo}" required autofocus>
									<option class="label-text" value="">Selecione una opción</option>
									<option th:each="tipo : ${tiposCargos}" th:value="${tipo.tipoDeCargo}"
										th:text="${tipo.tipoDeCargo}">
									</option>
								</select>
							</div>
						</div>
						<div class="col-md-6">
							<div class="mb-3">
								<label for="first-name" class="form-wrapper">Número de Contacto:</label>
								<input id="numeroDeContacto" type="" name="numeroDeContacto" class="form-control"
									autocomplete="off" th:field="*{numeroDeContacto}" required autofocus="autofocus"
									onchange="validateNumContacto(this)">
							</div>
						</div>
						<div class="col-md-6">
							<div class="mb-3">
								<label for="first-name" class="form-wrapper">Correo Electrónico:</label>
								<input id="correoElectronico" type="email" name="correoElectronico" class="form-control"
									autocomplete="off" th:field="*{correoElectronico}" required autofocus="autofocus"
									onchange="validarcorreoElectronico(this)">
							</div>
						</div>
						<div class="col-md-6">
							<div class="mb-3">
								<label for="first-name" class="form-wrapper">Dirección:</label>
								<input id="direccion" type="text" name="direccion" class="form-control"
									autocomplete="off" th:field="*{direccion}" required autofocus="autofocus"
									onchange="validateDireccion(this)">
							</div>
						</div>
						<div class="col-md-6">
							<div class="mb-3">
								<label class="form-wrapper">Horas Extra:</label>
								<div class="form-control d-flex justify-content-between">
									<div class="text-left">
										<input type="radio" id="horasExtraSi" name="horasExtra" value="TRUE" required>
										<label for="horasExtraSi" class="ml-2">Sí</label>
									</div>
									<div class="text-right">
										<input type="radio" id="horasExtraNo" name="horasExtra" value="FALSE" required>
										<label for="horasExtraNo" class="mr-2">No</label>
									</div>
								</div>
							</div>
						</div>
						<div class="col-12">
							<button type="submit" class="btn btn-primary">Registrar
								<svg xmlns="http://www.w3.org/2000/svg" width="15" height="15" fill="currentColor"
									class="bi bi-floppy-fill" viewBox="0 0 16 16">
									<path
										d="M0 1.5A1.5 1.5 0 0 1 1.5 0H3v5.5A1.5 1.5 0 0 0 4.5 7h7A1.5 1.5 0 0 0 13 5.5V0h.086a1.5 1.5 0 0 1 1.06.44l1.415 1.414A1.5 1.5 0 0 1 16 2.914V14.5a1.5 1.5 0 0 1-1.5 1.5H14v-5.5A1.5 1.5 0 0 0 12.5 9h-9A1.5 1.5 0 0 0 2 10.5V16h-.5A1.5 1.5 0 0 1 0 14.5v-13Z" />
									<path
										d="M3 16h10v-5.5a.5.5 0 0 0-.5-.5h-9a.5.5 0 0 0-.5.5V16Zm9-16H4v5.5a.5.5 0 0 0 .5.5h7a.5.5 0 0 0 .5-.5V0ZM9 1h2v4H9V1Z" />
								</svg>
							</button>
							<button type="button" class="btn btn-secondary" onclick="borrar()">Limpiar
								<svg xmlns="http://www.w3.org/2000/svg" width="15" height="15" fill="currentColor"
									class="bi bi-backspace-fill" viewBox="0 0 16 16">
									<path
										d="M15.683 3a2 2 0 0 0-2-2h-7.08a2 2 0 0 0-1.519.698L.241 7.35a1 1 0 0 0 0 1.302l4.843 5.65A2 2 0 0 0 6.603 15h7.08a2 2 0 0 0 2-2V3zM5.829 5.854a.5.5 0 1 1 .707-.708l2.147 2.147 2.146-2.147a.5.5 0 1 1 .707.708L9.39 8l2.146 2.146a.5.5 0 0 1-.707.708L8.683 8.707l-2.147 2.147a.5.5 0 0 1-.707-.708L7.976 8 5.829 5.854z" />
								</svg>
							</button>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>

	<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/flatpickr/4.6.3/flatpickr.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
	<script th:src="@{/js/Nomina/js-JsRegistroDeColaboradores.js}"></script>
	<script th:src="@{/js/Nomina/js-calendario.js}"></script>
</body>
<footer>
	© SIRPYM V1.0.1. 2024
</footer>

</html>