.section-container {
    position: absolute; /* Establece la posición absoluta */
    left: 20px; /* Se posiciona desde el borde izquierdo */
    top: 10; /* Se posiciona desde el borde superior */
    width: 98%; /* Ocupa todo el ancho disponible */
    min-height: 45em;
    box-shadow: inset 0 0 1px rgb(0, 128, 192), 0 0 10px rgba(0, 0, 0, 0.2);
    overflow-y: auto;
    background-color: white;
}




