.table th:nth-child(1),
.table td:nth-child(1),
.table th:nth-child(2),
.table td:nth-child(2) {
	width: 3%;
}

.table th:nth-child(3),
.table td:nth-child(3) {
	width: 3%;
	border-right: 1px solid #ddd;
}

.table th:nth-child(4),
.table td:nth-child(4) {
	width: 30%;
}

.table th:nth-child(5),
.table td:nth-child(5) {
	width: 10%;
}

.table th:nth-child(6),
.table td:nth-child(6) {
	width: 30%;
}

.table th:nth-child(7),
.table td:nth-child(7),
.table th:nth-child(8),
.table td:nth-child(8) {
	width: 10%;
}