.alert-exito {
	position: fixed;
	top: 15%;
	left: 90%;
	transform: translate(-50%, -50%);
	background-color: rgb(128, 255, 128);
	border-Radius: 20px;
	box-Shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.25);
	z-index: 9999;
	font-weight: bold;
	width: 350px;
	height: 80px;
	text-align: left;
	padding-left: 20px;
	padding-top: 15px;
	text-shadow: none;
	animation: fadeOut 10s forwards;
}

.alert-error {
	position: fixed;
	top: 20%;
	left: 90%;
	transform: translate(-50%, -50%);
	background-color: #FF5A5A;
	border-Radius: 20px;
	box-Shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.25);
	z-index: 9999;
	font-weight: bold;
	width: 350px;
	height: 80px;
	text-align: left;
	padding-left: 20px;
	padding-top: 15px;
	text-shadow: none;
	animation: fadeOut 20s forwards;
}


@keyframes fadeOut {
	0% {
		opacity: 1;
	}

	100% {
		opacity: 0;
		display: none;
	}
}